/* frame work */
.container{
    
    
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width:100vw;
    padding:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    padding:0px;
    margin:0px;
    height:100vh;
}

.item{
    
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

/* header */
.headercontent{
    display: flex;
    width:65%;
    align-items: center;
    justify-content: center;
    
}

#header_logo{
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    margin-right: auto;
}

header, footer{
    height:72px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    
    
}

.link{   
    font-size: 18px;
    color:#E5E7EB;
    margin:8px;
}


/* Navy Content Box*/

#navy{
    background-color: #1F2937;
}
.contentnavy{
    display: flex;
    width:65%;
    justify-content:flex-start;
}
.box{
    margin:20px;
    color:white;
    flex:1 1 0;
    
    
}
.box#longfrog{
    display: flex;
    justify-content: center;
    
    
    
}

#awsome{
    font-weight: bolder;
    font-size: 48px;
}

button{
    margin-top:10px;
    background-color:blue;
    border:5px ;
    border-radius: 3px;
    color:white;
    width:100px;
    height:30px;
}



/*white section one*/
#white1, #white2{
    
    background-color: white;
   
    flex-direction: column;
    justify-content: center;
    
}
#white1{
    align-items: flex-end;

}
.titlee{
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    margin:25px;
  
}
.panelwrap{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}
.item#white1{
    display: block;
}
.panel{
    margin:20px;
    display: flex;
    flex-direction: column;
    width:275px;
    
}
.panel img{
    border:10px solid blue;
    border-radius: 25px;
    width:275px;
    height: 180px;
    margin: 10px;
    margin-bottom: 20px;
}
.panel div{
    text-align: center;
    font-size: 18px;
}



/* grey content */
#gray{
    background-color: #E5E7EB;
    height: 300px;
    
}
.quotewrap{
    display: flex;
    flex-direction: column;
    width:65%;
}
.item#gray div#quote{
    font-size: 30px;
    font-style: italic;
    color:#1F2937;
}
div#name{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 15px;
    align-self: flex-end;
}

/*white two*/
#white2{
    align-items: center;
    height: 350px;
}
.flag{
    background-color: blue;
    width:65%;
}